__Projeto Dados Abertos__

Análise tem o objetivo de gerar insights sobre os dados abertos do governo, com o intuito de observar tendencias, custos operacionais e etc.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ERROR! Session/line number was not unique in database. History logging moved to new session 129

In [2]:
df = pd.read_csv("patrimonio-uniao.csv")
df.head()

,orgao_superior_codigo_siorg,orgao_superior_nome,orgao_superior_sigla,orgao_codigo_siorg,orgao_nome,orgao_sigla,orgao_como_no_raiox_nome,orgao_como_no_raiox_sigla,ano_mes_referencia,regime_utilizacao,tipo_destinacao,tipo_imovel,endereco,municipio_nome,municipio_cod_ibge,uf,metro_quadrado_area,metro_quadrado_construida,valor_imovel,valor_aluguel
0,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,202110,Cessão - Administração Federal Indireta,Porto,Terreno,R REPUBLICA DO EQUADOR s/nº Confronta Com a Ru...,SANTOS,3548500,SP,956.75,NaN,3370000.00,0.0
1,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,202110,Cessão - Outros,Edifício / Prédio,Casa,ETA João Batista de Almeida s/n,DIAMANTINO,5103502,MT,820.00,22.08,72796.98,0.0
2,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,202110,Em Regularização - Cessão,Edifício / Prédio,Edifício / Prédio,AV Antonio Bismark s/n,PRAINHA,1506005,PA,1200.00,246.85,69790.05,0.0
3,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,202110,Em Regularização - Cessão,Edifício / Prédio,Edifício / Prédio,CJ Agrovila Miguel Gustavo s/n,MEDICILÂNDIA,1504455,PA,43176.00,152.00,194267.11,0.0
4,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,14,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,"MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECI...",MAPA,202110,Em Regularização - Cessão,Escola,Base,AV Inácio Moura s/n,CAMETÁ,1502103,PA,1060000.00,2117.65,845305.15,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50838 entries, 0 to 50837
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   orgao_superior_codigo_siorg  50838 non-null  int64
 1   orgao_superior_nome          50838 non-null  object
 2   orgao_superior_sigla         50838 non-null  object
 3   orgao_codigo_siorg           50838 non-null  int64
 4   orgao_nome                   50838 non-null  object
 5   orgao_sigla                  50838 non-null  object
 6   orgao_como_no_raiox_nome     50838 non-null  object
 7   orgao_como_no_raiox_sigla    50838 non-null  object
 8   ano_mes_referencia           50838 non-null  int64
 9   regime_utilizacao            50838 non-null  object
 10  tipo_destinacao              50838 non-null  object
 11  tipo_imovel                  50838 non-null  object
 12  endereco                     50838 non-null  object
 13  municipio_nome               50838 non-null  object
 14  municipio_cod_ibge           50838 non-null  int64
 15  uf                           50838 non-null  object
 16  metro_quadrado_area          50838 non-null  float64
 17  metro_quadrado_construida    30444 non-null  float64
 18  valor_imovel                 50838 non-null  float64
 19  valor_aluguel                50838 non-null  float64
dtypes: float64(4), int64(4), object(12)
memory usage: 7.8+ MB

In [13]:
nulos = df.isnull().sum()
print(nulos)

orgao_superior_codigo_siorg        0
orgao_superior_nome                0
orgao_superior_sigla               0
orgao_codigo_siorg                 0
orgao_nome                         0
orgao_sigla                        0
orgao_como_no_raiox_nome           0
orgao_como_no_raiox_sigla          0
ano_mes_referencia                 0
regime_utilizacao                  0
tipo_destinacao                    0
tipo_imovel                        0
endereco                           0
municipio_nome                     0
municipio_cod_ibge                 0
uf                                 0
metro_quadrado_area                0
metro_quadrado_construida      20394
valor_imovel                       0
valor_aluguel                      0
dtype: int64

In [15]:
df.columns

Index(['orgao_superior_codigo_siorg', 'orgao_superior_nome',
       'orgao_superior_sigla', 'orgao_codigo_siorg', 'orgao_nome',
       'orgao_sigla', 'orgao_como_no_raiox_nome', 'orgao_como_no_raiox_sigla',
       'ano_mes_referencia', 'regime_utilizacao', 'tipo_destinacao',
       'tipo_imovel', 'endereco', 'municipio_nome', 'municipio_cod_ibge', 'uf',
       'metro_quadrado_area', 'metro_quadrado_construida', 'valor_imovel',
       'valor_aluguel'],
      dtype='object')

In [11]:
df.describe()

,orgao_superior_codigo_siorg,orgao_codigo_siorg,ano_mes_referencia,municipio_cod_ibge,metro_quadrado_area,metro_quadrado_construida,valor_imovel,valor_aluguel
count,50838.000000,50838.000000,50838.0,5.083800e+04,5.083800e+04,3.044400e+04,5.083800e+04,5.083800e+04
mean,105108.337661,87587.504800,202110.0,3.583280e+06,1.138037e+09,3.547594e+09,5.039787e+07,3.016266e+06
std,108833.166536,110296.317083,0.0,1.283690e+06,2.421777e+11,4.376751e+11,1.732059e+09,6.796621e+08
min,14.000000,3.000000,202110.0,0.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00
25%,244.000000,185.000000,202110.0,2.611606e+06,5.248500e+02,1.000000e+02,8.455770e+04,0.000000e+00
50%,41066.000000,1799.000000,202110.0,3.509502e+06,1.550670e+03,1.877300e+02,4.578300e+05,0.000000e+00
75%,235876.000000,235876.000000,202110.0,5.008305e+06,8.717875e+04,6.320000e+02,2.993984e+06,0.000000e+00
max,276368.000000,235881.000000,202110.0,5.300108e+06,5.460015e+13,5.400018e+13,1.552513e+11,1.532453e+11

In [9]:
df.shape

(50838, 20)

In [16]:
df.dtypes

orgao_superior_codigo_siorg      int64
orgao_superior_nome             object
orgao_superior_sigla            object
orgao_codigo_siorg               int64
orgao_nome                      object
orgao_sigla                     object
orgao_como_no_raiox_nome        object
orgao_como_no_raiox_sigla       object
ano_mes_referencia               int64
regime_utilizacao               object
tipo_destinacao                 object
tipo_imovel                     object
endereco                        object
municipio_nome                  object
municipio_cod_ibge               int64
uf                              object
metro_quadrado_area            float64
metro_quadrado_construida      float64
valor_imovel                   float64
valor_aluguel                  float64
dtype: object